version: "3.9"

services:
  db:
    image: mysql:latest
    container_name: mysql_wp
    restart: always
    environment:
      MYSQL_DATABASE: TrabajoDecimas
      MYSQL_USER: Fernando
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wp_network

  wordpress:
    image: wordpress:latest
    container_name: wordpress_app
    depends_on:
      - db
    ports:
      - "8082:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: Fernando
      WORDPRESS_DB_PASSWORD: 1234
      WORDPRESS_DB_NAME: TrabajoDecimas
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - wp_network

volumes:
  db_data:
  wordpress_data:

networks:
  wp_network:
